[Unit]
Description=Volkszaehler.org Middleware
After=syslog.target network.target
Requires=

[Service]
ExecStart=/usr/bin/php /var/www/volkszaehler.org/vendor/bin/ppm start -c /var/www/volkszaehler.org/etc/middleware.json --cgi-path=/usr/bin/php
ExecReload=/bin/kill -HUP $MAINPID
StandardOutput=journal
Restart=always

[Install]
WantedBy=multi-user.target